.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0417;
  width: 100%;
  padding-top: 111.64px;
  padding-bottom: 195px;
  gap: 31px;
}
